$TTL {{ item.ttl }}
{% if item.ptr_records | length > 0 %}
@   IN  SOA {{ item.ptr_records[0].hostname | regex_replace('\\..*$', '') }}. admin.{{ item.ptr_records[0].hostname | regex_replace('\\..*$', '') }}. (
    {{ item.serial }}
    3600
    1800
    604800
    86400
)


@   IN  NS {{ item.ptr_records[0].hostname | regex_replace('\\..*$', '') }}.


{% for r in item.ptr_records %}
{{ r.ip_last_octet }}   IN  PTR   {{ r.hostname }}
{% endfor %}

{% else %}

{% endif %}
