$TTL {{ ttl }}
@   IN  SOA {{ (ptr_records | default([{'hostname':'ns1.be.local.'}]))[0].hostname | regex_replace('\\..*$', '') }}. admin.{{ (ptr_records | default([{'hostname':'ns1.be.local.'}]))[0].hostname | regex_replace('\\..*$', '') }}. (
    {{ serial }}
    3600
    1800
    604800
    86400
)

# NS Records (first PTR host)
@   IN  NS {{ (ptr_records | default([{'hostname':'ns1.be.local.'}]))[0].hostname | regex_replace('\\..*$', '') }}.

# PTR Records
{% for r in ptr_records | default([]) %}
{{ r.ip_last_octet }}   IN  PTR   {{ r.hostname }}
{% endfor %}
