$TTL {{ f_ttl }}
@   IN  SOA {{ (f_ns_records | default(['ns1']))[0] }}.{{ f_zone_name }}. admin.{{ f_zone_name }}. (
    {{ f_serial }}
    3600
    1800
    604800
    86400
)

{% for ns in f_ns_records | default(['ns1']) %}
@   IN  NS {{ ns }}.{{ f_zone_name }}.
{% endfor %}

{% for r in f_a_records | default([]) %}
{{ r.name }}   IN  A   {{ r.ip }}
{% endfor %}

{% for c in f_cname_records | default([]) %}
{{ c.name }}   IN  CNAME  {{ c.alias }}.{{ f_zone_name }}.
{% endfor %}
