$TTL {{ ttl }}
@   IN  SOA {{ ns_records[0] }}.{{ zone_name }}. admin.{{ zone_name }}. (
    {{ serial }}
    3600
    1800
    604800
    86400
)

# NS Records
{% for ns in ns_records %}
@   IN  NS {{ ns }}.{{ zone_name }}.
{% endfor %}

# A Records
{% for r in a_records %}
{{ r.name }}   IN  A   {{ r.ip }}
{% endfor %}

# CNAME Records
{% for c in cname_records %}
{{ c.name }}   IN  CNAME  {{ c.alias }}.{{ zone_name }}.
{% endfor %}

